.container_wrapper{
    color: white;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    place-items: center;
    height: 100vh;
}


@media screen and (max-width: 375px) {
    /* Mobile styles */
   
    .container_wrapper{
        margin: 0 1.75rem;
    }
  }